@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div class="container">
    <div class="starter-template">
        <div id="">
            <div class="">
                <h1>
                    We don't want you to remember one more password just use below options-
                </h1>
                <p>
                    
                    <a class="btn btn-danger" href="@Url.Action("GoogleAuthenticate", "Login")">Sign In using Google</a>
                </p>
            </div>
        </div>

