body
{
    padding-top: 50px;
    text-align: center;
    height: 100%;
}
.starter-template
{
    padding: 40px 15px;
    text-align: center;
}
.main-search-box
{
    width: 100%;
    height: 50px;
    padding: 5px;
}
.result
{
    text-align: left;
}
