 <footer class="blog-footer">
            <p>built for everyone for free  by <a href="#">helpme.com</a>.</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>