@{
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div class="container">
    <div class="starter-template">
        <h1>
            Ask you question/review/query at solid-spork.com</h1>
        <p class="lead">
            <input type="text" name="question" id="question" class="main-search-box" placeholder="Type your question/query/review title " /></p>
        <p>
            <textarea id="description" class="main-search-box" placeholder="Provide details comment here"></textarea></p>
        <p>
            <button class="btn btn-danger">
                Ask/review this on solid-spork.com</button></p>
    </div>
</div>
